<% include upperTemplate %>
    <div class="col-lg-9">

        <div class="row" >
            <section>



                <ul class="nav nav-pills">
                    <li class="active"><a href="#info-tab" data-toggle="tab">Information <i class="fa"></i></a>
                    </li>
                    <li><a href="#address-tab" data-toggle="tab">Address <i class="fa"></i></a>
                    </li>
                    <li><a href="#insurance-tab" data-toggle="tab">Insurance <i class="fa"></i></a>
                    </li>
                </ul>

                <form name="frontDeskForm"  id="frontDeskForm" action="/frontDesk/startInst" method="post" class="form-horizontal" style="margin-top: 20px;">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="info-tab">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">First name</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="firstName" />
                                </div>
                            </div>
							
			
                            <!---form element start -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Middle name</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="midName" />
                                </div>
                            </div>
                            <!---form element end -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Last name</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="lastName" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Gender</label>
                                <div class="col-lg-5">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gender" value="true" /> Male
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gender" value="false" /> Female
                                        </label>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Date Of Birth</label>
                                <div class="col-lg-5">
                                    <div class='input-group date' id='dob'>
                                        <input type='text' class="form-control" name="dob" />
                                        <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="address-tab">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Address 1</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="address1" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Address 2</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="address2" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">State</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="state" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">City</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="city" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Country</label>
                                <div class="col-lg-5">
                                    <select class="form-control" name="country">
                                        <option value="">Select a country</option>
                                        <option value="FR">France</option>
                                        <option value="DE">Germany</option>
                                        <option value="IT">Italy</option>
                                        <option value="JP">Japan</option>
                                        <option value="RU">Russian</option>
                                        <option value="US">United State</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Zip</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="zip" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Phone</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="phone" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Email</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="email" />
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="insurance-tab">
						  
						 <div class="form-group">
                                <label class="col-lg-3 control-label">Is Insured</label>
                                <div class="col-lg-5">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="isInsured" value="true" /> Yes
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="isInsured" value="false" /> No
                                        </label>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Member ID</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="memberId" />
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-lg-3 control-label">Organization</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="organization" />
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-lg-3 control-label">Expiry Date</label>
                                <div class="col-lg-5">
                                    <div class='input-group date' id='insExpDate'>
                                        <input type='text' class="form-control" name="insExpDate" />
                                        <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
							
							<!-------cds-->
					    
				<!---cds edn-->


                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 col-lg-offset-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>

            </section>
        </div>
		
    </div>
    <% include lowerTemplate %>